.DaysContainer {
    /*margin: auto;*/
    width: 100%;
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: center;
}

@media (max-width: 500px) {
    .DaysContainer {
        display: block;
    }
}